Repository 1-500/Ddait, pull requests merged in 2024-10, with the labels that each got.

#118 Issue 316 종료된 경쟁방 필터링
  src/components/SkeletonLoader.jsx
  src/pages/competition/Competition.jsx
  src/pages/competition/CompetitionRoom1VS1.jsx
  src/pages/competition/CompetitionRoomRanking.jsx
  src/pages/competition/SearchCompetition.jsx
  src/pages/home/Home.jsx
Labels: :sparkles: Feature, :lipstick: UI

#119 Issue 312 애플로그인 구현
  ios/Ddait/Ddait.entitlements
  package.json
  src/apis/socialLogin/index.js
  src/components/Login/AppleLogin.jsx
  src/pages/Test.jsx
  src/pages/login/LoginPage.jsx
  src/router.js
Labels: :sparkles: Feature, :lipstick: UI, 📬 API

#122 Issue 318 faq 기능 개발
  src/apis/faq/index.js
  src/pages/mypage/FAQ.jsx
  src/pages/mypage/MyPage.jsx
  src/router.js
Labels: :sparkles: Feature, 📬 API

#123 Issue 317 : 식단일지 사진첨부 기능
  ios/Ddait/Info.plist
  package.json
  src/apis/food/index.js
  src/pages/diary/foodDiary/FoodInfo.jsx
  src/pages/diary/foodDiary/FoodRecord.jsx
  src/pages/diary/foodDiary/FoodRecordDetail.jsx
  src/pages/diary/foodDiary/FoodSearch.jsx
  src/store/food/selectedFoods/index.js
  src/utils/foodDiary/index.js
Labels: :sparkles: Feature, 📬 API

#120 Feat: 추천 친구 기능 개발 (ISSUE-320)
  src/apis/friend/index.js
  src/components/Friend/RecommendedFriends.jsx
  src/components/common/SectionTitle.jsx
  src/components/common/SkeletonLoader.jsx
  src/pages/competition/CompetitionRoom1VS1.jsx
  src/pages/competition/CompetitionRoomRanking.jsx
  src/pages/friend/Friend.jsx
  src/pages/friend/FriendSearch.jsx
  src/pages/home/Home.jsx
Labels: :bug: bugFix, :sparkles: Feature, :recycle: Refactor

#125 Issue 324 유저 신고 페이지 개발
  src/apis/memberReport/index.js
  src/components/BottomSheet/FriendOptionBottomSheet.jsx
  src/components/CompetitionRoomHeader.jsx
  src/components/CustomInput.jsx
  src/components/SettingItem.jsx
  src/pages/competition/CompetitionRoom1VS1.jsx
  src/pages/competition/CompetitionRoomRanking.jsx
  src/pages/competition/rankingPageTabs/RankList.jsx
  src/pages/competition/rankingPageTabs/Score1VS1.jsx
  src/pages/memberReport/MemberReport.jsx
  src/router.js
  src/utils/competition/index.js
Labels: :sparkles: Feature, 📬 API

#124 Issue 301 프로필 이미지 변경 기능 개발
  src/apis/mypage/index.js
  src/components/MemberProfileItem.jsx
  src/components/SkeletonLoader.jsx
  src/components/common/SkeletonLoader.jsx
  src/pages/competition/Competition.jsx
  src/pages/competition/SearchCompetition.jsx
  src/pages/competition/rankingPageTabs/RankList.jsx
  src/pages/diary/workoutDiary/StartWorkout.jsx
  src/pages/diary/workoutDiary/WorkoutDiary.jsx
  src/pages/mypage/MyPage.jsx
  src/pages/mypage/ProfileEdit.jsx
Labels: :sparkles: Feature, :lipstick: UI, 📬 API

#129 Issue 335 안드로이드 date picker 구현
  android/app/src/main/res/values/styles.xml
  package.json
  src/components/bottomSheet/DatePickerBottomSheet.jsx
  src/components/competitionCreation/PeroidSelector.jsx
  src/components/signup/BirthDayRegisterForm.jsx
  src/pages/competition/CompetitionCreation/CompetitionCreation.jsx
  src/pages/competition/CompetitionCreation/SetRoomDetail.jsx
  src/store/competition/index.js
  src/store/sign/signup.ts
Labels: :bug: bugFix, :building_construction: Build

#128 ISSUE-334 :bug: Fix: Alert 메시지 중 대부분 Toast 메시지로 변경
  src/components/CustomTimer.jsx
  src/components/common/SectionTitle.jsx
  src/components/login/AppleLogin.jsx
  src/pages/competition/Competition.jsx
  src/pages/competition/CompetitionCreation/CompetitionCreation.jsx
  src/pages/competition/CompetitionRoom1VS1.jsx
  src/pages/competition/CompetitionRoomRanking.jsx
  src/pages/competition/SearchCompetition.jsx
  src/pages/diary/foodDiary/FoodDiary.jsx
  src/pages/diary/foodDiary/FoodRecord.jsx
  src/pages/diary/foodDiary/FoodRecordDetail.jsx
  src/pages/diary/foodDiary/FoodSearch.jsx
  src/pages/socialLogin/SocialLogin.jsx
Labels: :bug: bugFix

#127 ISSUE-333 :lipstick: UI: FAQ 페이지 스켈레톤 UI 적용
  src/pages/mypage/FAQ.jsx
Labels: :lipstick: UI

#132 Issue 340 apple 로그인 클라이언트 개발
  ios/Ddait.xcodeproj/project.pbxproj
  ios/Ddait/DdaitDebug.entitlements
  src/apis/socialLogin/index.js
  src/components/login/AppleLogin.jsx
  src/pages/competition/CompetitionCreation/SetRoomDetail.jsx
Labels: :sparkles: Feature, 📬 API
